@page
@model VetApp_prj.Pages.PatientCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
   
}<partial name="AdminNavBar"/>
<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Care Pet Clinic, INTUITIVE">
    <meta name="description" content="">
    <title>Accueil</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/Accueil.css" media="screen">
    <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.21.12, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    
 
    <script type="application/ld+json">{
		"@@context": "http://schema.org",
		"@@type": "Organization",
		"name": "",
		"logo": "images/image.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Accueil">
    <meta property="og:type" content="website">
  </head><center>
<h1>Delete Patient</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <div style="margin-left:350px">
<dl class="row">
        <dt class="col-sm-2" >
            @Html.DisplayNameFor(model => model.Patient.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.DateNaissance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.DateNaissance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Espece)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Espece)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Couleur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Couleur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.MicroPuce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.MicroPuce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Sexe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Sexe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Sterilise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Sterilise)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.AlerteMedical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.AlerteMedical)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Vaccination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Vaccination)
        </dd>
    </dl>
    </div>
    
    
    <form method="post">
        <input type="hidden" asp-for="Patient.IdPatient" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
         <a asp-page="../Patient"><input  class="btn btn-primary" value="Back to list" /></a>
    </form>
</div>
</center>