@page
@model VetApp_prj.Pages.PatientCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
  
}<partial name="AdminNavBar"/>


 <center>
<h1>Details Patient</h1>

<div>
    
    <hr />
    <dl class="row" style="margin-left:330px">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.DateNaissance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.DateNaissance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Espece)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Espece)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Couleur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Couleur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.MicroPuce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.MicroPuce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Sexe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Sexe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Sterilise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Sterilise)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.AlerteMedical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.AlerteMedical)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Vaccination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Vaccination)
        </dd>
    </dl>
</div>
<div>
   <a asp-page="./Edit" asp-route-id="@Model.Patient?.IdPatient"><input  class="btn btn-primary" value="Edit" /> </a> 
     <a asp-page="../Patient"><input  class="btn btn-primary" value="Back to list" /></a>
</div>
 </center>